<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block header %}
<title>{{ titre }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="static/css/styles.css" type="text/css" />
<link rel="stylesheet" href="static/css/bootstrap.css" type="text/css" />
<script src="static/js/jquery-3.4.1.js"> </script>
<script src="static/js/popper.min.js"> </script>
<script src="static/js/bootstrap.js"> </script>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
